<!doctype html>
<html>
  <head>
    <title>110borwein</title>
  </head>
  <body>
    <h1>110borwein :</h1>
    <form method="POST">
      <label for="n">Valeur de n:</label>
      <input type="number" name="n" id="n" value="0">
      <br>
      <input type="submit" value="Calculer">
    <h1><br>Histoire :</h1>
      <p>110borwein est un projet de mathématique à Epitech qui consiste à calculer<br>
        la valeure de "pi/2" avec 3 méthodes différentes.
        la première s'intitule Midpoint<br>
        la seconde se nomme Trapezoidal<br>
        la dernière est Simpson.<br>
        Toutes ont un point commun, c'est qu'avec une formule supplémentaire,<br>
        elles sont capable de donné une valeur de "pi/2" avec beaucoup de précision.<br>
        La formule les reliants toutes se nomme "Borwien"
      </p>
    </form>
  </body>
</html>
